body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    margin: auto;
    background: #FFA07A;
    padding: 20px; 
    z-index: -1;
}
#loginUser {
    display: block;
    text-align: end;
    margin : 0 1rem 0 0; 
    padding : 1rem;
    color : #903a18;
    font-size: 1.2rem;
}
.username {
    color: #823213;
    font-weight: bold; 
    text-transform: uppercase;
}
h1 {
    text-align: center;
    color: white;
}
.input-form {
    display : flex;
    width : 60%;
    margin : 0 auto;
}
input[type="text"] {
    width: calc(100% - 60px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button#addButton {
    padding: 10px;
    border: none;
    background-color: #ef855bb7;
    color: white;
    border-radius: 4px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 1rem;
  }
  button#addButton:hover {
    background-color: #f08459;
  }
#myUL {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width : 60%;
    margin : 1rem auto;
    z-index: 10;
    font-size: 0.9rem;
}
#myUL li {
    position: relative;
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    color : black;
    font-weight: 100;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.close {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: #888;
    padding : 5px;
    height : 50%;
    width : 5%;
    margin : auto;
    text-align: center;
    transition : 0.1s;
  } 
  .close:hover {
    /* background-color: #f44336; */
    color: #f44336;
    font-size: 1.5rem;
    top: 20%;
  }
#myUL li.completed {
    text-decoration: line-through;
    background-color: #e9ecef;
    color: black;
}
/* #logout {
    color :white;
    text-align: end;
    z-index: 1;
} */
